extends layout
block content
  section.left-wrap
    .logo-wrap Dex
    .left-form what

  section.top-wrap.clearfix
    .inner.clearfix
      .url-input-wrap
        input.big(name='url', type='text', placeholder='http://', value=params.url)
      input.right.lightblue(type="submit", value="Run")


