extends layout
block content
  section.left-wrap
    .logo-wrap
      h1 Dex
      .api-permalink.button.pink Generate API Endpoint
    .left-form what

  section.top-wrap.clearfix
    .inner.clearfix
      .url-input-wrap
        input.big(name='url', type='text', placeholder='http://', value=params.url)
      input.pink.right.lightblue(type="submit", value="Run &raquo;")

  .preview
    pre= JSON.stringify(json, null, '  ')


