!!! 5
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/vendor/reset.css')
    link(rel='stylesheet', href='/vendor/jquery.tagsinput.css')
    link(rel='stylesheet', href='/vendor/highlight.css')
    link(rel='stylesheet', href='/main.css')
    script(src='/vendor/jquery.js')
    script(src='/vendor/underscore.js')
    script(src='/vendor/jquery.tagsinput.js')
    script(src='/vendor/highlight.json.js')
    script(src='/main.js')
  body
    header
      nav
        a(href="/api.json?edit=1") New API
    section.content TODO API edit form
